.form-group {
    display: inline-block;
}

#games-loading h4 span {
    float: left;
}

.item:not(:last-child) {
    border-bottom: 1px solid #2573BE;
}

.item-name {

}

.item-time {
    float: right;
}
