.form-group {
    display: inline-block;
}

#games-loading h4 span {
    float: left;
}

.item:not(:last-child) {
    border-bottom: 1px solid #2573BE;
}

.item-name {

}

.item-time {
    float: right;
}

@media (min-width:768px){
    .container{
        padding-top: 15px;
    }
}

.panel-heading {
    -webkit-user-select: none;
    cursor: pointer;
}

#info-button {
    float: right;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
}

#info-section {
    padding-top: 15px;
}
