
a {
    outline: 0;
}

body {
    background: #31323C;
}

#container {

}

#nav {
    border-bottom: 3px solid #2573BE;
}

#nav select {
    height: 30px;
    background: 0;
    color: #2573BE;
    border: 0px;
    border-right: 3px solid #2573BE;
    -webkit-user-select: none;
    cursor: pointer;
    outline: 0;
    appearence: none;
}

#format {
    color: #2573BE;
    padding: 10px;
    cursor: pointer;
    border-right: 3px solid #2573BE;
    -webkit-user-select: none;
}

#stats {

}
